<h1>Editing Task</h1>

<%= render 'form', task: @task %>

<div class="page-actions">
    <%= link_to 'Show', @task %> |
    <%= link_to 'Back', tasks_by_week_path(@task.task_date.year, @task.task_date.cweek) %>
</div>