<p id="notice"><%= notice %></p>

<h1>Projects (inactive)</h1>

<%= render 'projects', projects: @projects %>

<div class="page-actions">
  <%= link_to 'Show active projects', projects_path %> |
  <%= link_to 'New Project', new_project_path %>
</div>