/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize.css
 *= require_tree .
 *= require_self
 */
@import 'variables';
@import 'tables';

 html{
   height: 100%;
   background-color: $color-background;
 }

 body{
   display: grid;
   grid-template-columns: 200px auto;
   column-gap: 25px;
   background-color: $color-background;
   color: $color-default;
   font-family: $font-default;
 }
 
a {
   color: $color-default;
 
   &:visited {
     color: $color-default;
   }
 
   &:hover {
     color: #fff;
     background-color: $color-default;;
   }
 }

 th{
   text-align: left;
 }

 .large-input{
   width: 100%
 }

 .main-nav{
 }

 .main-nav__actions{
    list-style: none;
    padding:  0 25px;
    text-align: right;
    border-right: 2px solid $color-table-border;
    font-variant-caps: all-petite-caps;
 }

 .content{
    padding: 25px;
 }

 .main-nav__action{
    font-size: 20px;
    line-height: 35px;
 }

 .hidden{
   display: none;
 }

 .page-actions{
   margin-top: 40px;
   padding-top: 10px;
   border-top: 2px solid $color-table-border;
 }

 // TODO extract trix custom styles into to a new file
.trix-content{
  background-color:#f0f0f0;
}

trix-toolbar .trix-button{
}
trix-toolbar .trix-button.trix-active{
}