// Place all the styles related to the TaskReports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.report-question{
    padding-top: 20px;
}

.report-question:last-of-type{
    padding-bottom: 50px;
}

.report-question .trix-content{
    background-color: transparent;
}